#Flask==3.0.3
#Flask-Cors==4.0.1
python-dotenv==1.0.1
requests==2.31.0
tabulate==0.9.0
#flask-swagger-ui==4.11.1
#elastic-transport==8.13.1
#elasticsearch==8.14.0
#elasticsearch-async==6.2.0
pandas==2.2.3
openpyxl==3.1.5
#huggingface-hub==0.27.0
#llama-cpp-agent==0.2.35
#llama_cpp_python==0.3.5
#torch==2.5.1
#torchvision===0.20.1
#transformers==4.47.1
#openai
#einops==0.8.0
timm==1.0.12
tzdata==2025.1
python-dateutil==2.9.0.post0
tqdm==4.67.1
mcp==1.12.0
fastmcp==2.0.0
python-docx==1.2.0
#accelerate
#opencv-python